* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}

#main {
    width: 100%;
    padding: 20px;
    text-align: center;
}

form {
    margin: 0 auto;
    width: 200px;
}

h1 {
    margin-top: 50px;
    margin-bottom: 10px;
}

p {
    width: 350px;
    margin: 0 auto;
}

button, input[type=submit] {
    border: 0;
    border-radius: 5px;
    margin-top: 40px;
    height: 60px;
    width: 200px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    transition: all 500ms ease;
    color: var(var(--tg-theme-button-text-color));
    background: var(--tg-theme-button-color);
}

button:hover {
    background: var(--tg-theme-secondary-bg-color);
}

input, label, textarea {
    display:block;
    text-align: left;
    font-size: 20px;
    width: 300px;
}

input {
    margin-top: 2px;
    margin-bottom: 10px;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}
